<?xml version="1.0" encoding="UTF-8"?> 
<configuration> 
  <system.webServer> 
    <rewrite> 
      <rules> 
        <rule name="Enforce SSL" enabled="false" stopProcessing="true"> 
          <match url="/?(secure.*)" ignoreCase="true" /> 
          <conditions> 
            <add input="{HTTPS}" pattern="off" /> 
          </conditions> 
          <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" /> 
        </rule> 
      </rules> 
    </rewrite> 
  </system.webServer> 
</configuration>